/* Define the overall layout for the App:

text-align: center; - Center-align all text in the app.

padding: Add padding around the entire application (e.g., padding: 16px;).

background-color: Set a light background color to differentiate the app from the cards (e.g., #f5f5f5). */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #353535;
}